<p id="notice"><%= notice %></p>
<h1><%= @score.home_team.title %> vs. <%= @score.home_team.title %> </h1>

<p>
  <strong>Mājas komanda:</strong>
  <%= @score.home_team.title %>
</p>

<p>
  <strong>Viesu komanda:</strong>
  <%= @score.home_team.title %>
</p>
<p>
  <strong>Mājas komandas rezultāts:</strong>
  <%= @score.home_goals %>
</p>
<p>
  <strong>KViesu komandas rezultāts:</strong>
  <%= @score.guest_goals %>
</p>

<% def human_boolean(boolean)
            boolean ? 'Jā' : 'Nē'
        end%>

<p>
  <strong>Papildlaiks?</strong>
  <%= human_boolean(@score.extra_time) %>
</p>

<%= link_to 'Labot', edit_score_path(@score) %> |
<%= link_to 'Atpakaļ', score_path %>